---
import Layout from "../../layouts/Layout.astro";

const title = "Sobre nosotros";
const desc = "Conoce más sobre nuestra empresa y misión";
---

<Layout title={title} desc={desc}>
    <p>contactenos</p>
</Layout>