---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Slider from "../components/slider.astro";
import Footer from "../components/footer.astro";
import Map from "../components/map.astro";
import Services from "../components/services.astro";
import WhyUs from "../components/whyUs.astro";
import ProtecInfo from "../components/protecInfo.astro";

const title = "PROTEC · CHILE";
const desc = "Seguridad, vigilancia electrónica y outsourcing.";
---

<Layout title={title} desc={desc}>
  <main class="min-h-screen space-y-0">
    <Hero/>
    <Slider/>
    <slot />
    <Services/>
    <WhyUs/>
    <ProtecInfo/>
  </main>
  <Map
    title="GOOGLE MAP"
    address="126 Av. Libertador Bernardo O'Higgins, San Felipe, Valparaíso"
    embedSrc="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d723.4556599400793!2d-70.72623332510236!3d-32.75551546124014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968816d034fc6091%3A0xbe414880e566c47!2sProtec%20Chile!5e0!3m2!1ses!2scl!4v1767338317472!5m2!1ses!2scl",
    mapLink="https://maps.app.goo.gl/q7ridYwjHmvmoocr7"
  />
  <Footer/>
</Layout>