---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <h1>en proceso...</h1>
    <h1>vigilancia electronica</h1>
    <a href="/vigilancia-electronica/camaras-de-seguridad">camaras de seguridad</a> 
    <a href="/vigilancia-electronica/sistema-de-alarma">sistema de alarma</a>
</Layout>